#mapView {
  margin-top: -2rem;
  margin-left: -2rem;
  height: 90vh;
  width: 100vw;
}

#mapControls {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 3.5rem;
  right:3rem;
  z-index: 3;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}

.loadingIcon{
  position: absolute;
  width:fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.openSideNavArrow {
  position: absolute;
  display: flex;
  align-items: center;
  height:3rem;
  width:4rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background-color: #f4f4f4;
  border: solid black 1px;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-top: 2rem;
  margin-left: -12rem;
  transition: 1s; 
  z-index: 2;
  cursor: pointer;
}

.mapSidenav {
  position: absolute;
  opacity: 0.95;
  max-width: 30vw;
  min-width: 375px;
  min-height: fit-content;
  max-height: 80vh;
  overflow: auto;
  margin-left: -1rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  z-index: 3;
  padding: 1rem;
  transition: 0.5s;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10rem;
}
.locationIcon {
  max-height: 10rem;
  max-width: 18rem;
}

.rightPane {
  position: absolute;
  opacity: 0.95;
  display: grid;
  right: 1rem;
  max-width: 25%;
  min-width: 350px;
  min-height: fit-content;
  max-height: 80vh;
  overflow: auto;
  margin-top: 3rem;
  margin-left: 1rem;
  border-radius: 1rem;
  background-color:#f4f4f4;
  z-index: 2;
  padding: 1rem;
  transition: 0.5s;
}


.infoIcon {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

#closeSideNavButton{border:none;}

#closeSideNavButton:hover {
  border: solid 1px black;
  border-radius: 25%;
}

.listItem:hover{
  cursor: pointer;
  background-color: lightgray;
}

.stepDistance {
  font-size: 100%;
  color: darkgrey;
}

.stepInstruction {
  font-weight: bold;
  font-size: 125%;
}