@use '@carbon/motion';

//.rightPane, .rightPaneHeader, and .rightPaneContent defined in _admin-users-page.scss

.tileImage{
  max-width: 12rem;
  max-height: auto;
  margin: -1rem -1rem -1rem -1rem;
}