.pageHeading{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;}

  // .headingText{
//   color: orange;
//   font-weight: bold;
// }

.content {
  margin-left: 3rem;
  min-height: 75vh;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.locationCard {max-width: 22rem;}

.cardImage {
  max-width:100%;
  height: auto;
  cursor: pointer;
}

.facilityAddressHeader {
  margin: 2rem 0rem 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.facilityAddress {
  color: #5E6365;
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
  margin-bottom: 0px;
}