@use '@carbon/motion';
@media (min-width: 66rem) {
  .pageContent {margin-left: 15rem;}
};
.rightPane {
  background-color:#e8e8e8;
  //width: 10rem;
  height:100vh;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 5;
  right: 0;
  top:0;
  position:absolute;
  transition: motion.$duration-moderate-02 motion.motion(standard, productive);;
}
.closeButtonContainer{
  width: auto;
  margin-top: 4rem;
  padding-left: 1rem;
  animation: rotation 0.125s linear backwards;
}
.closeButton:hover{
  cursor: pointer;
  animation: rotation 0.125s linear forwards;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.rightPaneContent{
  margin-top: 2rem;
  padding:1rem;
}