@use '@carbon/motion';
@media (min-width: 66rem) {
  .pageContent {margin-left: 15rem;}
};
.rightPane {
  background-color:#e8e8e8;
  min-width: 30rem;
  height:100vh;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 5;
  right: 0;
  top:0;
  position:absolute;
  transition: motion.$duration-moderate-02 motion.motion(standard, productive);;
}
.rightPaneHeader{
  width: auto;
  margin-top: 4rem;
  padding-left: 1rem;
}
.rightPaneContent{
  margin-top: 2rem;
  padding:1rem;
}

.userPermissions {
  display: flex;
  justify-content: center;
}