.globalHeader {
  border: 2px solid grey;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.logoContainer {
  height: auto;
  padding: 0.5rem 0rem 0.5rem 2rem;
}
#genericLogo{
  max-width: 60%;
  min-width: 10%;
  height: auto;
}
.logoImage {
  max-width: 25%;
  min-width: 10%;
  height: auto;
}

.officeLogo {
  width: 50%;
  height: auto;
  padding-right: 20px;
}

.userAvatar{
  padding-right: 1%;
}