body{overflow-x: hidden;}
.aboutUsHeaderImage {
    background-image: url('/assets/images/aboutus/city_network_org.jpg');
    min-width: 100vw;
    min-height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.emtImage {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
}

.swatImage {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to left, black 85%, transparent 100%);
}

.theTeam{
    padding:1%;
    background-color: #FEB885;
    //background-image:linear-gradient(white,#8283BC);
}

.headshots {
    border-radius: 5%;
    max-width: 15vw;
    height: auto;
}