body{overflow-x: hidden;}
.aboutUsHeaderImage {
  margin-top: 0rem;
  background-image: url('/assets/images/aboutus/city_shield.jpg');
  min-width: 100vw;
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  mask-image: linear-gradient(to bottom, black 98.5%, transparent 100%);
}
.aboutHeader {
  margin-top: 0.5rem;
  height:25rem;
  width:100vw;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-image: url('/assets/images/aboutus/shield3.jpg');
  //background-image: linear-gradient(to right,#DB6B5F,#A997E3);
}
.aboutHeaderText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #5E5E5E;
  font-size: 5rem;
  //-webkit-text-stroke: 1px black;
}
.imageContainer {
  display:flex;
  gap:1rem;
  align-items:center;
  padding-top:5rem;
}
.emtImage {
  width: 50vw;
  height: auto;
  mask-image: linear-gradient(to right, black 85%, transparent 100%);
}

.swatImage {
  width: 50vw;
  height: auto;
  mask-image: linear-gradient(to left, black 85%, transparent 100%);
}

.theTeam{
  margin-top: 5rem;
  padding:1rem;
  background-color: #6d6d6d;
  //background-image:linear-gradient(white,#8283BC);
}

.headshots {
  border-radius: 5%;
  max-width: 15vw;
  height: auto;
}