@import './content/LandingPage/landing-page.scss';
@import './content/AboutUsPage/about-us-page.scss';
@import './content/AdminPage/admin-page.scss';
@import './content/RegistrationPage/registration-page.scss';
@import './content/UserLoginPage/user-login-page.scss';
@import './content/AdminLoginPage/admin-login-page.scss';
@import './components/GlobalHeader/global-header.scss';
@import './content/UserPage/user-page.scss';
@import './content/MapPage/map-page.scss';
@import './content/AccountVerification/account-verification-page.scss';
@import './content/ForgotPasswordPage/forgot-password-page.scss';
@import './content/PasswordResetPage/password-reset-page.scss';

.formPositioner {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.formContainer {
  padding: 2rem;
  max-width: 600px;
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  box-shadow:  5px 5px 5px 5px lightgray;
}

.formHeader {
  display: flex;
  justify-content: center;
}
.formBody {
  
  display: flex;
  justify-content: center;
}